/* Global */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  width: 100vh;
  height: 100vh;
}

.container {
  max-width: 1140px;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
